<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>NTRO.CO | Connect with anyone</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Loading Bootstrap -->
  <link href="bootstrap/css/bootstrap.css" rel="stylesheet">

  <!-- Loading Flat UI -->
  <link href="css/flat-ui.css" rel="stylesheet">
  <link href="css/main.css" rel="stylesheet">

  <link rel="shortcut icon" href="images/favicon.ico">

  <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <![endif]-->
    </head>
    <body class="compare">
      <div class="wrapper">
        <div class="navbar navbar-fixed-to">
          <div class="navbar-inner">
            <div class="container">
              <div class="nav-collapse collapse">
                <div><a class="logo pull-left" href="#"></a></div>
                <ul class="nav pull-right">
                  <li class="activated">
                    <a href="./index.html">Get intro</a>
                  </li>
                  <li class="">
                    <a href="./getting-started.html">Make intro</a>
                  </li>
                  <li class="">
                    <a href="./profile.html">Profile</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="container">
          <div class="demo-headline" style="margin: 40px 0 90px 0">
            <h1>
              We're introducing
            </h1>
            <div class="row" style="margin: 20px 0">
              <div class="span7" style="float:none;margin: 30px auto; overflow: auto;">
                <div class="span3 avatar" style="margin: 0"><img src="http://rockstart.com/earlydays/files/2012/06/Don-Ritzen.jpg"style="background:#fff;width:150px;height:150px;border-radius:50%; margin: 0 auto; display: block;"/><span class="span1" style="color:#fff;font-size:18px; width: 100%; margin: 10px 0 0 0;">YOU</span> </div> 
                <span class="span1" style="color:#fff;font-size:18px;padding: 10px; margin: 50px auto; display: block;">to</span> 
                <div class="span3 avatar" style="margin: 0"><img src="http://www.biography.com/imported/images/Biography/Images/Profiles/Z/Mark-Zuckerberg-507402-1-402.jpg" style="background:#fff;width:150px;height:150px;border-radius:50%; margin: 0 auto; display: block;"/><span class="span1" style="color:#fff;font-size:18px; width: 100%; margin: 10px 0 0 0;">Mark Zuckerberg</span> </div> 
              </div>
              <div class="alert" style="  width: 250px;margin: 0 auto;padding: 5px;"><h2 style="color: #333;">For $499,-</h2></div>
            </div>
            <h3>
              Now add your Pitch:
            </h3>
            <form class="bs-docs-example form-inline">
              <textarea rows="1" class="span8" placeholder="Title"></textarea>
            </form>
            <form class="bs-docs-example form-inline">
              <textarea rows="4" class="span8" placeholder="Pitch"></textarea>
            </form>
            <form class="bs-docs-example form-inline">
              <textarea rows="1" class="span8" placeholder="Link"></textarea>
            </form>
            <div class="row2">
              <div class="span3" style="margin: 0 auto; float: none;"><a class="btn btn-large btn-block btn-primary" href="#fakelink" >Pitch for $499</a></div>
            </div>
          </div> <!-- /demo-headline -->
        </div> <!-- /container -->

        <footer>
          <div class="container">
            <div class="row">
              <div class="span12">
                <h3 class="footer-title" style="text-align: center; font-size:14px;">Copyright Team Rockstart 2013</h3>
              </div>
            </div>
          </div>
        </footer>
      </div>
      <!-- Load JS here for greater good =============================-->
      <script src="js/jquery-1.8.3.min.js"></script>
      <script src="js/jquery-ui-1.10.3.custom.min.js"></script>
      <script src="js/jquery.ui.touch-punch.min.js"></script>
      <script src="js/bootstrap.min.js"></script>
      <script src="js/bootstrap-select.js"></script>
      <script src="js/bootstrap-switch.js"></script>
      <script src="js/flatui-checkbox.js"></script>
      <script src="js/flatui-radio.js"></script>
      <script src="js/jquery.tagsinput.js"></script>
      <script src="js/jquery.placeholder.js"></script>
      <script src="js/jquery.stacktable.js"></script>
      <script src="http://vjs.zencdn.net/c/video.js"></script>
      <script src="js/application.js"></script>
    </body>
    </html>
