<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>NTRO.CO | Connect with anyone</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script type="text/javascript" src="../js/lib/angular-1.0.8.min.js"></script>
    <script type="text/javascript" src="../js/lib/lodash.min.js"></script>
    <script type="text/javascript" src="../js/lib/restangular.min.js"></script>
    <script type="text/javascript" src="../js/app/config.js"></script>
    <script type="text/javascript" src="../js/app/rest.js"></script>
    <script type="text/javascript" src="../js/app/controller.js"></script>
    <link rel="stylesheet" href="../css/bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="../css/flat-ui.css" type="text/css" />
    <link rel="stylesheet" href="../css/main.css" type="text/css" />

    <link rel="shortcut icon" href="../images/favicon.ico">

    <script type="text/javascript">
    </script>
</head>
<body>

<div class="wrapper">
    <div class="navbar navbar-fixed-to">
        <div class="navbar-inner">
            <div class="container">
                <div class="nav-collapse collapse">
                    <div class="logo pull-left"></div>
                    <ul class="nav pull-right">
                        <li class="activated">
                            <a href="#/">Get intro</a>
                        </li>
                        <li class="">
                            <a href="#/connections">Make intro</a>
                        </li>
                        <li class="">
                            <a href="#/profile">Profile</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- paste template -->


    <!-- end paste template -->


    <footer>
        <div class="container">
            <div class="row">
                <div class="span12">
                    <h3 class="footer-title" style="text-align: center; font-size:14px;color: #333;">Copyright Team Rockstart 2013</h3>
                </div>
            </div>
        </div>
    </footer>
</div>


</body>
</html>
