<div class="container">
    <div class="demo-headline" style="margin: 40px 0 90px 0">
        <h2 style="font-style: italic;">
            We put a price on relationships
        </h2>

        <h1>
            Introduce me to
        </h1>
        <input type="text" ng-model="twitterHandle" placeholder="twitter handle of your VIP" class="span8"
               style="height: 34px; font-size: 20px; margin: 30px 0 30px 0;"/>

        <div class="row2">
            <div class="span3" style="margin: 0 auto; float: none;">
                <a class="btn btn-large btn-block btn-primary" ng-show="isLoggedIn" ng-href="{{ connectUrl() }}"
                   target="_self">
                    Start
                </a>
                <a class="btn btn-large btn-block btn-primary" ng-show="!isLoggedIn" ng-href="{{ loginUrl() }}"
                   target="_self">
                    Log-in to Start
                </a>
            </div>
        </div>
    </div>
    <!-- /demo-headline -->
</div> <!-- /container -->
