<div class="searchBox">
    <div>
        Introduce me to <input type="text" id="connections-query" ng-model="twitterHandle"/>
        <div ng-show="isLoggedIn"><a ng-href="#/connection/pitch/{{ twitterHandle }}">Get Introduction</a></div>
        <div ng-show="!isLoggedIn"><a ng-href="{{ loginUrl() }}" target="_self">Login To Get Introduction</a></div>
    </div>

    <div class="top-introductions">
        <div class="title">Top Introducers</div>
        <div class="user" ng-repeat="user in topUsers">
            <div class="name">{{ user.first_name }} {{ user.last_name }}</div>
            <div class="username">
                <a ng-href="/user/{{ user.id }}">
                    {{ user.username }}
                </a>
            </div>
        </div>
    </div>
</div>
