<div class="hero-unit">
    <div class="container">
      <div class="demo-headline">
        <div class="profile-avatar">
          <img src="https://sphotos-a-sea.xx.fbcdn.net/hphotos-ash3/941290_10151421539652876_1392759574_n.jpg" />
        </div>
        <div class="profile-name">
          <h1>
              {{ user.first_name }} {{ user.last_name }}
          </h1>
        </div>
        <div class="profile-bio">
          <p>
              {{ user.bio }}
          </p>
        </div>
         <div class="profile-accounts">
          <ul>
            <li><a href="#"><img src="/static/images/icons/linkedin.png" /></a></li>
            <li><a href="#"><img src="/static/images/icons/twitter.png" /></a></li>
            <li><a href="#"><img src="/static/images/icons/facebook.png" /></a></li>
            <li><a href="#"><img src="/static/images/icons/github.png" /></a></li>
          </ul>
        </div>
      </div> <!-- /demo-headline -->
    </div>
</div> 
<div class="container activity">
  <h2>Activity</h2>
  <div class="intro row">
    <div class="intro-requester span2">
      <img src="https://sphotos-a-sea.xx.fbcdn.net/hphotos-ash3/941290_10151421539652876_1392759574_n.jpg" />
      <div class="intro-name">Jean-Pierre<br />Pequito</div>
    </div>
    <div class="intro-target span2  ">
      <img src="https://sphotos-a-sea.xx.fbcdn.net/hphotos-ash3/941290_10151421539652876_1392759574_n.jpg" />
      <div class="intro-name">Jean-Pierre<br />Pequito</div>
    </div>
    <div class="intro-pitch span8">
      <div class="intro-title">
        <h2>I'm looking for feedback fellas!</h2>
      </div>
      <div class="intro-content">
        <p>Mauris eget felis quam. Cras tempus vehicula elit a pellentesque. Quisque sit amet vestibulum risus, id mattis erat. Mauris sit amet vehicula felis, ac accumsan odio. Cras tristique ultricies tellus non fermentum. Cras quis imperdiet ipsum. Pellentesque eu faucibus ligula. </p>
      </div>
      <div class="intro-attach">
        <div class="input-prepend">
          <span class="add-on"><img src="/static/images/icons/attach.png" /></span>
          <span class="span7 uneditable-input" id="prependedInput" type="text">https://sphotos-a-sea.xx.fbcdn.net/hphotos-ash3/941290_10151421539652876_1392759574_n.jpg</span>
        </div>
      </div>
      <div class="intro-meta">Posted 3 days ago</div>
      
    </div>
    <div class="action">      
      <div class="pull-right intro-action">
        <span class="pull-left"><small>(Price)</small></span>
        <span class="intro-price pull-left">$800</span>
        <span class="pull-right"><a href="#fakelink" class="btn btn-large btn-block btn-primary">Pending</a></span>
      </div>
    </div>
  </div>

  <div class="intro row">
    <div class="intro-requester span2">
      <img src="https://sphotos-a-sea.xx.fbcdn.net/hphotos-ash3/941290_10151421539652876_1392759574_n.jpg" />
      <div class="intro-name">Jean-Pierre<br />Pequito</div>
      <!--<div class="intro-tagline">Evil mastermind</div>-->
    </div>
    <div class="intro-target span2  ">
      <img src="https://sphotos-a-sea.xx.fbcdn.net/hphotos-ash3/941290_10151421539652876_1392759574_n.jpg" />
      <div class="intro-name">Jean-Pierre<br />Pequito</div>
    </div>
    <div class="intro-pitch span8">
      <div class="intro-title">
        <h2>I'm looking for feedback fellas!</h2>
      </div>
      <div class="intro-content">
        <p>Mauris eget felis quam. Cras tempus vehicula elit a pellentesque. Quisque sit amet vestibulum risus, id mattis erat. Mauris sit amet vehicula felis, ac accumsan odio. Cras tristique ultricies tellus non fermentum. Cras quis imperdiet ipsum. Pellentesque eu faucibus ligula. </p>
      </div>
      <div class="intro-attach">
        <div class="input-prepend">
          <span class="add-on"><img src="/static/images/icons/attach.png" /></span>
          <span class="span7 uneditable-input" id="prependedInput" type="text">https://sphotos-a-sea.xx.fbcdn.net/hphotos-ash3/941290_10151421539652876_1392759574_n.jpg</span>
        </div>
      </div>
      <div class="intro-meta">Posted 3 days ago</div>
      
    </div>
    <div class="action">      
      <div class="pull-right intro-action">
        <span class="pull-left"><small>(Price)</small></span>
        <span class="intro-price pull-left">$800</span>
        <span class="pull-right"><a href="#fakelink" class="btn btn-large btn-block btn-primary">Pending</a></span>
      </div>
    </div>
  </div>
