
.navbar {
  margin-bottom:0;
}
.navbar-inner {
  background: #1ABC9C;
  border: none;
  padding-left: 0;
  padding-right: 0;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -moz-box-shadow: inset 0 -3px 3px #16A085;
  -webkit-box-shadow: inset 0 -3px 3px #16A085;
  box-shadow: inset 0 -3px 3px #16A085;
}
.navbar .container { 
  width:940px;
}
.navbar .nav > li:first-child > a {
-webkit-border-radius: 0;
-moz-border-radius: 0;
border-radius: 0;
}
.navbar .nav > li > a {
  font-size: 1.1em;
  color:#fafafa;
  border-bottom: 3px solid #16A085;
  text-shadow: 0 1px 1px #000;
  -webkit-transition: background-color .25s, color .25s, border-bottom-color .25s;
  -moz-transition: background-color .25s, color .25s, border-bottom-color .25s;
  -o-transition: background-color .25s, color .25s, border-bottom-color .25s;
  transition: background-color .25s, color .25s, border-bottom-color .25s;
  -webkit-backface-visibility: hidden;
}
.navbar .nav > li > a:hover, .navbar .nav > .activated a{
  color:#fafafa;
  border-bottom: 3px solid #fff;
  background: #2bc1a4;
}
.hero-unit {
  background-color:#2C3E50;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}
.profile-avatar img, .compare .avatar img {
  -webkit-border-radius: 77px;
  -moz-border-radius: 77px;
  border-radius: 77px;
  height:150px;
  border: 3px solid #ECF0F1;
}
.profile-name h1 {
  color:#ECF0F1;
  margin-top:20px;
  display: block;
  font-size: 22px;
  font-weight: 700;
  letter-spacing: -1px;
  padding-top: 5px;
  text-shadow: 0 1px 1px #000;
}
.profile-bio p {
  color:#ECF0F1;
}