<div class="hero-unit compare">
       <div class="container">
          <div class="demo-headline" style="margin: 40px 0 90px 0">
            <h1 style="color:#fff;font-size:3.2em">
              We're introducing
            </h1>
            <div class="row" style="margin: 20px 0">
              <div class="span7" style="float:none;margin: 30px auto; overflow: auto;">
                <div class="span3 avatar" style="margin: 0"><img ng-src="{{ user.mugshot }}" style="background:#fff;width:150px;height:150px;border-radius:50%; margin: 0 auto; display: block;"/><span class="span1" style="color:#fff;font-size:18px; width: 100%; margin: 10px 0 0 0;font-weight:700">YOU</span> </div>
                <span class="span1" style="color:#fff;font-size:18px;padding: 10px; margin: 50px auto; display: block;">to</span>
                <div class="span3 avatar" style="margin: 0">
                    <img ng-src="{{ person.mugshot }}" style="background:#fff;width:150px;height:150px;border-radius:50%; margin: 0 auto; display: block;"/>
                    <span class="span1" style="color:#fff;font-size:18px; width: 100%; margin: 10px 0 0 0;font-weight:700">{{ person.first_name }} {{ person.last_name }}</span> </div>
              </div>
              <div class="" style="border-radius:3px;background:#1ABC9C;color: #fff; width: 250px;margin: 60px auto 60px auto;padding: 10px 15px 15px 15px;text-shadow:0 1px 1px #000">
                <h1 style="">${{ connection.price }}</h1>
                <h2 style="font-size: 22px;">Price is based on the <strong>social distance</strong> between the two of you.</h2>
              </div>
            </div>
            <h3>
              Add your Pitch:
            </h3>
            <span style="color: #fff; font-style:italic;font-size: 16px;padding-bottom: 10px;display: block">The better the story the bigger the chance of connection</span>
            <form class="bs-docs-example form-inline">
              <textarea rows="1" class="span8" placeholder="Title" ng-model="connection.title"></textarea>
            </form>
            <form class="bs-docs-example form-inline">
              <textarea rows="4" class="span8" placeholder="Pitch" ng-model="connection.pitch"></textarea>
            </form>
            <form class="bs-docs-example form-inline">
              <textarea rows="1" class="span8" placeholder="Attachement link" ng-model="connection.website"></textarea>
            </form>
            <div class="row2">
              <div class="span3" style="margin: 0 auto; float: none;">
                  <a class="btn btn-large btn-block btn-primary" ng-click="createIntro()" >
                  Pitch for ${{ connection.price }}
                  </a>
              </div>
            </div>
          </div> <!-- /demo-headline -->
        </div> <!-- /container -->

        </div> <!-- /container -->
