<!DOCTYPE html>{% load staticfiles %}
<html lang="en" ng-app="pimp.app">
  <head>
    <meta charset="utf-8" />
    <title>PIMP</title>

    <script type="text/javascript" src="{% static "js/lib/angular-1.0.8.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/lib/lodash.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/lib/restangular.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/app/config.js" %}"></script>
    <script type="text/javascript" src="{% static "js/app/rest.js" %}"></script>
    <script type="text/javascript" src="{% static "js/app/controller.js" %}"></script>
    <link rel="stylesheet" href="{% static "css/master.css" %}" type="text/css" media="screen" />
  </head>
  <body id="index" class="home">
    {% if user.is_authenticated %}
    Welcome {{ user.username }} | <a href="/logout/">Logout</a>
    {% else %}
    <a href="{% url "socialauth_begin" "twitter" %}">Login with twitter</a>
    {% endif %}
    <h1>PIMP</h1>

    <div class="content" ng-view>
    </body>
</html>
